* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-rendering: optimizeLegibility;
  background-color: #f7f7f7;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

header {
  display: none;
}
.mobi-header {
  background: white;
}
.nav-bar {
  grid-column: 1 / 2;
  background: white;
  text-align: center;
}

.main {
  grid-column: 2 / 2;
  background-color: #f0f0f0;
  overflow: auto;
}
.main-nav {
  width: 50%;
  margin: 0 auto;
}

.main-nav li {
  text-align: left;
}

#user-photo,
#mobi-photo {
  width: 63%;
  height: 63%;
  display: block;
  margin-bottom: 2%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #24c6dc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.date {
  float: right;
  width: 25%;
  height: 1%;
  margin: 1% 0 5%;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #24c6dc;
}

.logo,
.mobi-logo {
  height: 37px;
  margin: 2px 50px 89px 12px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 50;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #24c6dc;
  margin-top: 3%;
  margin-bottom: 8%;
}

.user-name {
  height: 3%;
  font-family: Montserrat;
  margin: 18px 28px 16px 11px;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #101010;
  text-align: center;
  text-transform: capitalize;
}
.first-name {
  text-transform: uppercase;
}

.user-role,
.mobi-user-role,
.mobi-user-name {
  height: 3%;
  margin-top: 26px;
  margin-bottom: 36px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #24c6dc;
  text-transform: capitalize;
}

li {
  margin-bottom: 20px;
  height: 3%;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
}
li a {
  color: #010101;
}
li a:hover {
  color: #24c6dc;
}

.welcome-message {
  width: 65%;
  height: 20%;
  border-radius: 20px;
  background-image: linear-gradient(102deg, #24c6dc -10%, #514a9d 111%);
  color: white;
  text-align: left;
  margin: 7% auto 6% 170px;
}
.welcome-text {
  margin-left: 77px;
}
.p-main {
  margin-top: 15%;
  padding-top: 5%;
  height: 49px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: normal;
  color: #ffffff;
}
.p-sub {
  height: 34px;
  font-family: Montserrat;
  padding-top: 6%;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #ffffff;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 29px;
  box-shadow: 0 3px 30px 0 rgba(36, 198, 220, 0.07);
  background-color: #ffffff;
  margin: 0 70px;
}
.card-name {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #24c6dc;
  margin-top: 12%;
}
.card-number {
  font-family: Montserrat;
  font-size: 130px;
  font-weight: 800;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #514a9d;
  margin-top: 6%;
}

/* ------Mobile side panel---------- */
/* The sidepanel menu */
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #24c6dc;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #24c6dc;
  color: white;
  padding: 5px 10px;
  border: none;
  margin-top: 2%;
  margin-left: 2%;
}

.openbtn:hover {
  background-color: #444;
}

/* -----------------------------------------
------------Big laptops---------------
----------------------------------------- */
@media only screen and (max-width: 1440px) {
  .logo img {
    width: 100%;
  }
  .welcome-message {
    width: 83%;
    margin-left: 9%;
  }
  .card {
    margin: 0 40px;
    width: 270px;
    height: 270px;
  }
}

/* -----------------------------------------
------------Small laptops---------------
----------------------------------------- */
@media only screen and (max-width: 1200px) {
  .welcome-text {
    margin-left: 20px;
  }
  .logo img {
    width: 100%;
  }
  .user-name,
  .user-role,
  li {
    font-size: 20px;
  }
  .main-nav {
    padding-left: 2px;
    width: 80%;
  }
  .p-main {
    font-size: 25px;
  }
  .p-sub {
    font-size: 20px;
  }
  .card {
    width: 250px;
    height: 250px;
  }
  .card-name {
    font-size: 15px;
  }
  .card-number {
    font-size: 120px;
  }
}

/* -----------------------------------------
------------Tablets---------------
----------------------------------------- */
@media only screen and (max-width: 768px) {
  .welcome-text {
    margin-left: 20px;
  }
  .logo img {
    width: 100%;
  }
  .user-name,
  .user-role,
  li {
    font-size: 20px;
  }
  .main-nav {
    padding-left: 2px;
    width: 80%;
  }

  .welcome-message {
    width: 85%;
    margin-left: 8%;
  }
  .p-main {
    font-size: 20px;
  }
  .p-sub {
    font-size: 15px;
    margin-top: 10px;
  }
  .card {
    margin: 0 30px;
    width: 200px;
    height: 200px;
  }
  .card-name {
    font-size: 12px;
  }
  .card-number {
    font-size: 80px;
  }
}

/* -----------------------------------------
------------MOBILE DEVICES---------------
----------------------------------------- */

@media only screen and (max-width: 481px) {
  header {
    display: block;
    background-color: #ffffff;
  }
  .container {
    overflow: auto;
    grid-template-columns: 0 100%;
    margin: 0 auto;
    min-height: 100vh;
  }
  .nav-bar {
    display: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card {
    width: 230px;
    height: 230px;
    margin: 5% auto;
  }
  .card-name {
    font-size: 22px;
  }
  .card-number {
    font-size: 100px;
  }
  .date {
    display: none;
  }
  .welcome-message {
    width: 85%;
    margin: 0.5% auto 3% 7%;
  }
  .welcome-text {
    margin-left: 7%;
  }

  .p-main {
    height: 15px;
    margin-top: 2%;
    font-size: 15px;
    padding-bottom: 10%;
  }
  .p-sub {
    height: 14px;
    margin-top: 2%;
    font-size: 15px;
  }
  .mobi-user-name,
  .mobi-user-role {
    text-align: left;
    font-weight: normal;
    margin: 0 auto;
    padding-left: 13%;
  }
  #mobi-photo {
    width: 100px;
    height: 100px;
    margin-top: 1%;
  }

  .mobi-logo {
    height: 12px;
    font-size: 15px;
    float: right;
  }
  #logo-mobile {
    height: 35px;
  }
}
/*----SMALL MOBILE DEVICES------*/

@media only screen and (max-width: 480px) {
  #logo-mobile {
    height: 30px;
  }
  .welcome-text {
    margin-left: 3%;
  }
}
