* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-rendering: optimizeLegibility;
  background-color: #f7f7f7;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

.nav-bar {
  grid-column: 1 / 2;
  background: white;
  text-align: center;
}

.main {
  grid-column: 2 / 2;
  background-color: #f0f0f0;
  overflow: auto;
}
.main-nav {
  width: 50%;
  margin: 0 auto;
}

.main-nav li {
  text-align: left;
}

li {
  margin-bottom: 20px;
  height: 3%;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
}
a {
  color: #010101;
  text-decoration: none;
}
a:hover,
a:active {
  color: #24c6dc;
}

#user-photo {
  width: 63%;
  height: 63%;
  margin-bottom: 2%;
  margin-top: 15%;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #24c6dc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

ul {
  list-style-type: none;
}

.date {
  float: right;
  width: 25%;
  height: 1%;
  margin: 1% 0 5%;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #24c6dc;
}

.logo,
.mobi-logo {
  height: 37px;
  margin: 2px 50px 89px 12px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 50;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #24c6dc;
  margin-top: 3%;
  margin-bottom: 8%;
}

.user-name {
  height: 3%;
  font-family: Montserrat;
  margin: 18px 28px 16px 11px;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #101010;
  text-align: center;
  text-transform: capitalize;
}
.first-name {
  text-transform: uppercase;
}

.user-role,
.mobi-user-role,
.mobi-user-name {
  height: 3%;
  margin-top: 26px;
  margin-bottom: 36px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #24c6dc;
  text-transform: capitalize;
}
.employees-title {
  margin: 3% auto 2% 7%;
}

.emp {
  width: 224px;
  height: 43px;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #6f6f6f;
}

.underline {
  width: 70px;
  height: 0;
  border: solid 5px #24c6dc;
  margin-top: 2px;
  margin-bottom: 22px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.total-emp {
  width: 285px;
  height: 34px;
  font-family: Montserrat;
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #6f6f6f;
}

.employee-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 6%;
}
.total-employees {
  color: #24c6dc;
}
.employee-card {
  width: 300px;
  height: 300px;
  margin: 32px;
  border-radius: 29px;
  box-shadow: 0 3px 30px 0 rgba(36, 198, 220, 0.07);
  background-color: #ffffff;
}
#user-image,
#mobi-photo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  display: block;
  margin: 10% auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.employee-card p {
  text-align: center;
}
.employee-card-name {
  height: 43px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #24c6dc;
  text-transform: capitalize;
}
.employee-card-role {
  height: 37px;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #6f6f6f;
  margin-top: 5%;
  text-transform: capitalize;
}

.employee-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 9%;
}

.attendants {
  width: 300px;
  height: 52px;
  border: solid 1px #3bb49d;
  margin-right: 50px;
  border-radius: 56px;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  -ms-border-radius: 56px;
  -o-border-radius: 56px;
}
.admin {
  width: 300px;
  height: 52px;
  border: solid 1px #b43b8a;
  margin-right: 50px;
  border-radius: 56px;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  -ms-border-radius: 56px;
  -o-border-radius: 56px;
}

.admin p,
.attendants p {
  text-align: center;
  line-height: 52px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
}

.attendants p {
  color: #3bb49d;
}
.admin p {
  color: #b43b8a;
}

#add-employee {
  width: 300px;
  height: 52px;
  border-radius: 10px;
  border: solid 1px;
  background-color: #b43b8a;
  color: white;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
}
#add-employee:hover {
  background-color: #b43b8a9f;
}

header {
  display: none;
  background: white;
}
/* The sidepanel menu */
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #24c6dc;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #24c6dc;
  color: white;
  padding: 5px 10px;
  border: none;
  margin-top: 2%;
  margin-left: 2%;
}

.openbtn:hover {
  background-color: #444;
}

/* ----------------------------------
--------Big Laptop-------------------
-------------------------------------- */
@media only screen and (max-width: 1440px) {
  .logo img {
    width: 100%;
  }
  .employee-card {
    width: 270px;
    height: 270px;
    margin: 28px;
  }
}

/* -----------------------------------------
------------Small laptops---------------
----------------------------------------- */
@media only screen and (max-width: 1200px) {
  .welcome-text {
    margin-left: 20px;
  }
  .logo img {
    width: 100%;
  }
  .user-name,
  .user-role,
  li {
    font-size: 20px;
  }
  .main-nav {
    padding-left: 2px;
    width: 80%;
  }
  #add-employee,
  .attendants,
  .admin {
    margin-top: 20px;
  }
}

/* -----------------------------------------
------------Tablets---------------
----------------------------------------- */

@media only screen and (max-width: 768px) {
  .attendants,
  .admin {
    width: 300px;
  }
  #add-attendant {
    width: 100px;
  }
}

/* -----------------------------------------
------------MOBILE DEVICES---------------
----------------------------------------- */

@media only screen and (max-width: 481px) {
  header {
    display: block;
    background-color: #ffffff;
  }
  .container {
    overflow: auto;
    grid-template-columns: 0 100%;
    margin: 0 auto;
    min-height: 100vh;
  }
  .nav-bar {
    display: none;
  }
  .date {
    display: none;
  }
  .mobi-user-name,
  .mobi-user-role {
    text-align: left;
    font-weight: normal;
    margin: 0 auto;
    padding-left: 13%;
  }
  #mobi-photo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }

  .mobi-logo {
    height: 12px;
    font-size: 15px;
    float: right;
  }
  #logo-mobile {
    height: 35px;
  }
  .employee-details {
    justify-content: center;
    margin: 0 auto;
  }
  .employee-info {
    justify-content: center;
    margin: 0 auto;
  }

  .attendants,
  .admin {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    margin-bottom: 20px;
  }
  #add-employee {
    width: 250px;
  }
}

/*----SMALL MOBILE DEVICES------*/

@media only screen and (max-width: 480px) {
  #logo-mobile {
    height: 30px;
  }
  .employees-title {
    margin-left: 10%;
  }
}
